<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="shortcut icon" type="image/png" href="../static/images/fbi_logo.png">
	    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/html5reset.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
	    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600">
	    <title>Name Search Results</title>        
    </head>
   <body>
       <main id="main">
        <div class="container">
            <h1>Results for {{name}}</h1>
            <div class="line"></div>
            <p class="intro">Click on the row for more information about the missing person.</p>
            <br>
            <div id="rt_container">
            <div class="table_view">
                <table> 
                  <thead>
                    <td>Name</td>
                    <td>Subject</td>
                    <td>Sex</td>
                    <td>Race</td>
                    <td>Hair Color</td>
                    <td>Eye Color</td>
                    <td>Scars and Marks</td>
                    <td>Details</td>
                    <td>Description</td>
                    <td>Field Office(s)</td>
                    <td>URL</td>
                 </thead>
                 <tbody>
                 {% for row in results %}
                  <tr onclick="window.open(href='{{row[10]}}')">
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[4]}}</td>
                  <td>{{row[5]}}</td>
                  <td>{{row[6]}}</td>
                  <td>{{row[7]}}</td>
                  <td>{{row[8]}}</td>
                  <td>{{row[9]}}</td>
                  <td>{{row[10]}}</td>
                 </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
      <div class="set_button">
      <form action="/">
        <input class="button_style" type="submit" value="Go back to home page" />
    </form>
    </div>
      </div>
      <div class="jump_to_top">
        <a class="jump_link" href="#main">Jump to Top</a>
      </div>
      </main>
      <footer>
		<p>Bulgan Jugderkhuu and Sasha Kenkre &copy; 2021</p>
		</div>
	</footer>
   </body>
</html>
